:root {
  --black: #263238;
  --d-grey: #4d4d4d;
  --grey: #717171;
  --l-grey: #89939e;
  --grey-blue: #abbed1;
  --silver: #f5f7fa;
  --white: #f5f7fa;
  --primary: #43a046;
  --secondary: #263238;
  --info: #2194f3;
  --warning: #fbc02d;
  --error: #e53835;
  --success: #2e7d31;
  --shadow: #abbed1;
}
* {
  box-sizing: border-box;
}
.primary-btn {
  cursor: pointer;
}
body {
  font-family: "Inter", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1152px;
  width: 100%;
}
h1 {
  font-size: 64px;
  margin: 0;
  color: var(--d-grey);
  line-height: 76px;
  letter-spacing: 1.9px;
}
p {
  color: var(--grey);
  margin: 0;
  line-height: 28px;
  font-size: 18px;
}
.flex-side {
  display: flex;
  align-items: center;
}
.space {
  justify-content: space-between;
  align-items: center;
}
button {
  border: none;
}
.main-navigation ul {
  display: flex;
  align-items: center;
  gap: 50px;
}
.primary-btn {
  padding: 16px 32px;
  background-color: var(--primary);
  border: none;
  border-radius: 3px;
  color: var(--white);
  display: inline-block;
}
.primary-btn:hover {
  background-color: #66bb69;
}
.disabled {
  background-color: var(--silver);
  display: flex;
  justify-content: center;
  align-items: center;
}
.secondary {
  background-color: white;
  border: 1px solid var(--primary);
  color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}
.tertiary {
  background: none;
  color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}
.tertiary:hover {
  background-color: var(--silver);
}
a {
  text-decoration: none;
  color: var(--primary);
}
ul,
li {
  list-style: none;
  text-decoration: none;
}
header {
  background-color: var(--silver);
  padding: 22px 0px;
}
nav ul {
  gap: 50px;
}
nav a {
  color: black;
}
nav a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}
.buttons {
  display: flex;
  gap: 14px;
}
.intro {
  background-color: var(--silver);
  padding: 96px 0px;
}
.intro p {
  margin-top: 16px;
  font-size: 16px;
}
.intro .primary-btn {
  margin-top: 32px;
}
h2 {
  font-size: 36px;
  margin: 0;
  color: var(--d-grey);
  line-height: 44px;
}
.clients {
  padding: 35px 0px;
  text-align: center;
}
.clients p {
  margin-top: 8px;
  font-size: 16px;
}
.clients .logos {
  margin-top: 16px;
  padding: 25px 0px;
}
.system {
  text-align: center;
}
h3 {
  font-size: 28px;
  margin: 0;
  color: var(--d-grey);
  line-height: 36px;
}
.system p {
  margin-top: 8px;
}
.system .cards-container .card {
  display: inline-block;
  vertical-align: top;

  max-width: calc(100% / 3 - clamp(23px, 4.1vw, 105px));
  width: 100%;

  background-color: #fff;
  border-radius: 8px;
  padding: 24px;
  margin-bottom: 30px;

  margin-right: clamp(30px, 5.5vw, 80px);

  overflow: hidden;
  box-shadow: 0 4px 6px rgba(171, 190, 209, 0.3);
}

.system .cards-container .card:nth-child(3n) {
  margin-right: 0px;
}
.card p {
  margin-top: 8px;
  font-size: 14px;
  line-height: 20px;
}
.cards-container {
  margin-top: 16px;
}
.unseen-spending {
  padding: 75px 0px;
}
.unseen-spending .content-side {
  max-width: 658px;
}
.unseen-spending p {
  margin-top: 16px;
  font-size: 14px;
  line-height: 20px;
}
.unseen-spending .primary-btn {
  margin-top: 32px;
}
.local-card-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: start;
  width: 47%;
}
.local-card-list-container .card {
  flex: 1;
  display: flex;
  align-items: center;
}
small {
  font-size: 16px;
}
.local-business {
  padding: 64px 0px;
  background-color: var(--silver);
  margin-top: 48px;
}
.local-business p {
  margin-top: 8px;
  color: var(--black);
  font-size: 16px;
}
.design-footer p {
  font-size: 14px;
  margin-top: 16px;
  line-height: 20px;
}
.design-footer .primary-btn {
  margin-top: 32px;
}
.design-footer {
  padding-top: 45px;
}
.article {
  padding: 32px 0px;
  background-color: var(--silver);
  display: flex;
  align-items: self-start;
  margin-top: 48px;
}
.article p {
  margin-top: 0;
  font-size: 16px;
  line-height: 24px;
}
.article .content-side {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.article strong {
  color: var(--primary);
  margin-top: 16px;
  font-size: 20px;
  line-height: 28px;
}
.article small {
  color: var(--l-grey);
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
}
.article .logos {
  margin-top: 32px;
}
.article a {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  margin-top: 10px;
}
.marketing-card-container .card {
  display: inline-block;
  vertical-align: top;
  max-width: calc(100% / 3 - 24px);
  width: 100%;
  position: relative;
  border-radius: 8px;
  margin-bottom: 24px;
  margin-right: 24px;
  overflow: hidden;
  height: 366px;
}
.marketing-card-container .card:nth-child(3n) {
  margin-right: 0;
}
.marketing {
  text-align: center;
  padding-bottom: 48px;
  padding-top: 50px;
}
.marketing p {
  margin-top: 8px;
}
.marketing-card-container {
  margin-top: 16px;
}
.mobile-button{
  display: none;
}
.marketing-card-container .card .content-side {
  padding: 16px;
  background-color: var(--silver);
  max-width: 317px;
  border-radius: 10px;
  margin: 0 auto;
  position: absolute;
  bottom: 40px;
  left: 10px;
  right: 10px;
  box-shadow: 0 4px 12px rgba(171, 190, 209, 0.3);
}
.marketing-card-container .card .content-side p {
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}
.marketing-card-container .card .content-side a {
  font-weight: 700;
}
.demo {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 40px 0px;
  background-color: var(--silver);
}
.demo button {
  margin-top: 32px;
}
footer {
  padding: 64px 0px;
  background-color: var(--black);
  color: var(--silver);
}
footer .content-side p {
  color: var(--silver);
  font-size: 14px;
}
footer .content-side img {
  margin-bottom: 40px;
}
footer ul {
  padding-left: 0px;
}
.footer-nav {
  display: flex;
  align-items: start;
  width: 57%;
  justify-content: space-between;
}
footer strong {
  font-size: 20px;
  line-height: 28px;
}
footer ul {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
input {
  all: unset;
}
.input-wrapper {
  background-color: var(--grey);
  border-radius: 8px;
  padding: 9px;
  margin-top: 24px;
  display: flex;
  min-width: 260px;
  align-items: center;
  justify-content: space-between;
}
.card h3 {
  margin-top: 24px;
}
.article .flex-side {
  align-items: start;
  justify-content: center;
}

.local-card-list-container .card h3 {
  margin-top: 0px;
}
.local-card-list-container .card .flex-side {
  gap: 16px;
}
.center {
  align-items: center;
}
::placeholder {
  color: var(--silver);
  font-size: 14px;
}
.content-side .input-wrapper img {
  margin-bottom: 0px;
}
.buttons button:last-child {
  padding: 10px 20px;
}
.buttons button {
  font-size: 12px;
  line-height: 16px;
}
.local-business .space {
  align-items: start;
}
.design-footer .content-side {
  margin-left: 50px;
}
.design-footer .article .content-side:first-child {
  margin-left: 76px;
}
.demo .primary-btn {
  margin-top: 32px;
}
footer .flex-side {
  align-items: start;
}
.main-navigation ul {
  padding: 0px;
}
.main-navigation ul {
  gap: clamp(25px, calc(25px + (100vw - 1240px) * 0.125), 50px);
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .container {
    width: calc(100% - 144px);
  }
}

@media (min-width: 840px) and (max-width: 1023px) {
  .container {
    width: calc(100% - 60px);
    overflow-x: hidden;
  }
}
@media (min-width: 768px) and (max-width: 839px) {
  .container {
    width: calc(100% - 60px);
    overflow-x: hidden;
  }
  header .buttons {
    display: none;
  }
  .intro-img {
    width: 300px;
  }
  h1 {
    font-size: 40px;
    line-height: 1.2;
  }
  .intro p {
    font-size: 14px;
  }
  .intro {
    padding: 45px 0px;
  }
  h2 {
    font-size: 27px;
    line-height: 1.2;
  }
  .clients p {
    font-size: 14px;
  }
  .clients .logos {
    padding: 0px;
  }
  .system .cards-container .card {
    max-width: calc(100% / 3 - 23px);
    margin-right: 30px;
  }
  h3 {
    font-size: 18px;
    line-height: 1.2;
  }
  .card h3 {
    margin-top: 0;
  }
  .unseen-spending img {
    width: 300px;
  }
  .unseen-spending p {
    font-size: 12px;
  }
  .unseen-spending {
    padding: 25px 0px;
  }
  .system p {
    font-size: 14px;
  }
  .local-business p {
    font-size: 14px;
    line-height: 1.2;
  }
  .local-card-list-container .card .flex-side img {
    width: 35px;
  }
  .card small {
    font-size: 13px;
  }
  .local-card-list-container .card h3 {
    font-size: 16px;
  }
  .local-business {
    padding: 40px 0px;
  }
  .pana {
    width: 229px;
  }
  .design-footer p {
    font-size: 12px;
  }
  .marketing p {
    font-size: 14px;
  }
  .marketing {
    padding-top: 40px;
    padding-bottom: 0px;
  }
  .footer-inner {
    display: flex;
    flex-wrap: wrap;
  }
  footer .content-side {
    width: 100%;
  }
  .footer-nav {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
@media (min-width: 540px) and (max-width: 767px) {
   .footer-nav {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
    .container {
    width: calc(100% - 60px);
    overflow-x: hidden;
  }
  header .buttons {
    display: none;
  }
  .intro-img {
    width: 300px;
  }
  h1 {
    font-size: 40px;
    line-height: 1.2;
  }
  .intro p {
    font-size: 14px;
  }
  .intro {
    padding: 45px 0px;
  }
  h2 {
    font-size: 27px;
    line-height: 1.2;
  }
  .clients p {
    font-size: 14px;
  }
  .clients .logos {
    padding: 0px;
  }
  .system .cards-container .card {
    max-width: calc(100% / 3 - 23px);
    margin-right: 30px;
  }
  h3 {
    font-size: 18px;
    line-height: 1.2;
  }
  .card h3 {
    margin-top: 0;
  }
  .unseen-spending img {
    width: 300px;
  }
  .unseen-spending p {
    font-size: 12px;
  }
  .unseen-spending {
    padding: 25px 0px;
  }
  .system p {
    font-size: 14px;
  }
  .local-business p {
    font-size: 14px;
    line-height: 1.2;
  }
  .local-card-list-container .card .flex-side img {
    width: 35px;
  }
  .card small {
    font-size: 13px;
  }
  .local-card-list-container .card h3 {
    font-size: 16px;
  }
  .local-business {
    padding: 40px 0px;
  }
  .pana {
    width: 229px;
  }
  .design-footer p {
    font-size: 12px;
  }
  .marketing p {
    font-size: 14px;
  }
  .marketing {
    padding-top: 40px;
    padding-bottom: 0px;
  }
  .footer-inner {
    display: flex;
    flex-wrap: wrap;
  }
  footer .content-side {
    width: 100%;
  }
  .footer-nav {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 425px) and (max-width: 539px) {
   footer .content-side {
    width: 100%;
  }
  footer .flex-side {
    align-items: start;
    flex-wrap: wrap;
}
   .footer-nav {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
  }
    .mobile-button{
  display: block;
}
  header .buttons {
    display: none;
  }
  .main-navigation {
    display: none;
  }

  .intro img {
    display: none;
  }
  .unseen-spending img {
    display: none;
  }
  .pana {
    display: none;
  }
  .article .flex-side {
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
  }
  .design-footer .content-side {
    margin-left: 0px;
  }
  .system .cards-container .card {
    max-width: 100%;
  }
  .marketing-card-container .card {
    max-width: 100%;
    margin-bottom: 0px;
    margin-right: 0px;
  }
  .article .logos {
    display: flex;
    gap: 20px;
  }
  .container {
    width: calc(100% - 50px);
    overflow-x: hidden;
  }
  h1 {
    font-size: 48px;
    line-height: 1.2;
  }
  .intro {
    padding: 90px 0px;
  }
  .article .content-side p {
    margin-top: 25px;
    font-size: 14px;
  }
  .local-business .flex-side {
    flex-wrap: wrap;
  }
  .local-business .local-card-list-container .card .flex-side {
    flex-wrap: nowrap;
  }
  .local-business .local-card-list-container .card img {
    width: 30px;
  }
  .local-card-list-container {
    width: auto;
    margin-top: 20px;
  }
  .local-business .local-card-list-container .card h3 {
    font-size: 20px;
  }
  .local-business .local-card-list-container .card small {
    font-size: 14px;
  }
  h2 {
    font-size: 23px;
    line-height: 1.2;
  }
  h3 {
    font-size: 18px;
    line-height: 1.2;
  }
  .system p {
    font-size: 14px;
  }
  .card h3 {
    margin-top: 8px;
  }
  .unseen-spending {
    padding: 25px 0px;
  }
  .local-business {
    margin-top: 25px;
  }
  .clients .logos img {
    width: 30px;
  }
  .clients .logos {
    margin-top: 0;
  }
  .clients p {
    font-size: 14px;
  }
  .article-img {
    width: 250px;
  }
  .local-business {
    padding: 25px 0px;
  }
  .local-business p {
    font-size: 14px;
  }
  .article strong {
    font-size: 16px;
    margin-top: 8px;
  }
  .article small {
    font-size: 12px;
    margin-top: 0px;
  }
  .article .logos img {
    width: 40px;
  }
  .article .logos {
    display: flex;
    justify-content: left;
    margin-top: 20px;
  }
  .article a {
    font-size: 14px;
    margin-top: 0px;
  }
  .marketing {
    padding-bottom: 0px;
    padding-top: 25px;
  }
  .marketing p {
    font-size: 14px;
    line-height: 1.6;
  }
  .marketing-card-container .card .content-side p {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 8px;
  }
  .marketing-card-container .card .content-side a {
    font-size: 12px;
  }
  .demo h1 {
    font-size: 40px;
  }
  .primary-btn {
    font-size: 12px;
  }
  .main-logo {
    width: 120p;
  }
}

@media (min-width: 280px) and (max-width: 423px) {
    .footer-nav {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
  }
     footer .content-side {
    width: 100%;
  }
  footer .flex-side {
    align-items: start;
    flex-wrap: wrap;
}
  .mobile-button{
  display: flex;
}
  header .buttons {
    display: none;
  }
  .main-navigation {
    display: none;
  }
  .intro img {
    display: none;
  }
  .unseen-spending img {
    display: none;
  }
  .pana {
    display: none;
  }
  .article .flex-side {
    flex-wrap: wrap;
    align-items: start;
    justify-content: left;
  }
  .design-footer .content-side {
    margin-left: 0px;
  }
  .system .cards-container .card {
    max-width: 100%;
  }
  .marketing-card-container .card {
    max-width: 100%;
    margin-bottom: 0px;
    margin-right: 0px;
  }
  .article .logos {
    display: flex;
    gap: 20px;
  }
  .container {
    width: calc(100% - 50px);
    overflow-x: hidden;
  }
  h1 {
    font-size: 48px;
    line-height: 1.2;
  }
  .intro {
    padding: 90px 0px;
  }
  .article .content-side p {
    margin-top: 25px;
    font-size: 14px;
  }
  .local-business .flex-side {
    flex-wrap: wrap;
  }
  .local-business .local-card-list-container .card .flex-side {
    flex-wrap: nowrap;
  }
  .local-business .local-card-list-container .card img {
    width: 30px;
  }
  .local-card-list-container {
    width: auto;
    margin-top: 20px;
  }
  .local-business .local-card-list-container .card h3 {
    font-size: 20px;
  }
  .local-business .local-card-list-container .card small {
    font-size: 14px;
  }
  h2 {
    font-size: 23px;
    line-height: 1.2;
  }
  h3 {
    font-size: 18px;
    line-height: 1.2;
  }
  .system p {
    font-size: 14px;
  }
  .card h3 {
    margin-top: 8px;
  }
  .unseen-spending {
    padding: 25px 0px;
  }
  .local-business {
    margin-top: 25px;
  }
  .clients .logos img {
    width: 30px;
  }
  .clients .logos {
    margin-top: 0;
  }
  .clients p {
    font-size: 14px;
  }
  .article-img {
    width: 250px;
  }
  .local-business {
    padding: 25px 0px;
  }
  .local-business p {
    font-size: 14px;
  }
  .article strong {
    font-size: 16px;
    margin-top: 8px;
  }
  .article small {
    font-size: 12px;
    margin-top: 0px;
  }
  .article .logos img {
    width: 40px;
  }
  .article .logos {
    display: flex;
    justify-content: left;
    margin-top: 20px;
    align-items: center;
  }
  .article a {
    font-size: 14px;
    margin-top: 0px;
  }
  .marketing {
    padding-bottom: 0px;
    padding-top: 25px;
  }
  .marketing p {
    font-size: 14px;
    line-height: 1.6;
  }
  .marketing-card-container .card .content-side p {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 8px;
  }
  .marketing-card-container .card .content-side a {
    font-size: 12px;
  }
  .demo h1 {
    font-size: 40px;
  }
  .primary-btn {
    font-size: 12px;
  }
  .main-logo {
    width: 120p;
  }
}

/* .mobile-navigation{
display: none;
} */
.mobile-navigation {
    width: 100%;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    background-color: #fff;
}

.mobile-navigation ul{
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 1;
}
.mobile-navigation ul li a{
padding:12px;
border-bottom: 1px solid #efefef;
display: block;
font-size: 14px;
}
.mobile-navigation ul li:last-child a{
  border-bottom: none;
}
.mobile-navigation {
   transform: translateY(-100%);
  transition: transform 0.3s ease;
}

.mobile-navigation.active {
  transform: translateY(0);
}
.mobile-button{
  background: none;
}
.nav-row{
  display: flex;
  padding: 10px 5px;
  justify-content: right;
}
.close-mobile-navigation{
  background: none;
  font-weight: 600;
}
